.home {
   display: flex;
   .homeContainer {
    flex: 6;
    background: url('https://img2.thuthuatphanmem.vn/uploads/2018/11/30/hinh-nen-trang-dep-nhat_104326572.jpg');
    
  }
  
  .widgets {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  
  
  }
 
  
 
 
