.list {
    display: flex;
    background: url('https://img2.thuthuatphanmem.vn/uploads/2018/11/30/hinh-nen-trang-dep-nhat_104326572.jpg');
    .listContainer {
      flex: 6;
       
      
    }
  }